.footerHeaderContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 5.625rem;
    background: rgb(0, 58, 106);
}