.shopContainer {
    width: 1440px;
    &__content {
        height: 3440px;
        background: #F2F3F4;
        padding: 30px 56px 20px 56px;
    }

    &__mainProducts {
        display: flex;
        justify-content: space-between;
    }
}